.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.results {
  position: relative;
  display: flex;
  gap: 60px;
  align-items: flex-start;
  @media (width<=768px) {
    gap: 0;
  }
}

.list {
  width: 100%;
  @media (width<=500px) {
    display: none;
  }
}

.paginator {
  display: flex;
  justify-content: center;
}

.btn {
  @extend %btn-primary;

  background-color: var(--color-green);
}

.group {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  justify-content: center;

  width: 100%;
  margin-bottom: 32px;
}
