.wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.search-bar {
  width: 70%;
  @media (width<=768px) {
    width: 90%;
  }
}
