.panel {
  position: fixed;
  bottom: 0;

  width: 100%;
  padding: 20px;
  border-top: 1px solid var(--color-border);

  background-color: var(--color-bg);
}

.inner-wrapper {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: space-between;

  min-width: var(--min-width);
  max-width: var(--max-width);
  margin: 0 auto;
}

.btn {
  @extend %btn-primary;
}

.group {
  display: flex;
  gap: 24px;
}
