@use './utils//reset';

body {
  font-family: 'Open sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-text);

  background-color: var(--color-bg);
}

#root {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-width: 380px;
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  // padding: 2rem;
}
