.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.loader {
  display: flex;
  gap: 6px;
  align-items: center;
}

.search-bar {
  width: 70%;
  margin-bottom: 16px;
  @media (width<=768px) {
    width: 90%;
  }
}

.error-info {
  display: flex;
  gap: 6px;
  align-items: center;

  padding: 10px 30px;
  border-radius: var(--border-radius);

  font-family: inherit;
  font-size: 12px;

  background-color: var(--color-accent-10);
}
