@use '../../styles/utils/mixins' as mix;

.btn {
  @extend %btn;

  width: 100%;
  padding: 4px;
  border-radius: 12px;

  @include mix.main-transition(' background-color');
  @include mix.focused {
    background-color: var(--color-gray-10);
  }
}

.thumb {
  display: flex;
  align-items: center;
  justify-content: center;

  aspect-ratio: 1;
  width: 20px;
  border: 1px solid var(--color-text-40);
}
