:root {
  font-family: 'Open sans', Arial, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  color: rgb(0 0 0 / 87%);
  text-rendering: optimizelegibility;

  background-color: var(--color-bg);
}

body {
  display: flex;

  min-width: 320px;
  min-height: 100vh;
  margin: 0;

  color: var(--color-text);
}
