.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 32px;
  padding: 20px 0;
  border-bottom: 1px solid rgb(226 226 226);
}

.logo {
  display: flex;
  gap: 8px;
  align-items: center;

  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
}

[data-logo-text] {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.btn {
  @extend %btn-primary;

  width: 100px;
  border: 1px solid var(--color-violet-light);

  color: var(--color-violet-light);
  text-transform: capitalize;

  background-color: transparent;
}

.group {
  display: flex;
  gap: 24px;
  align-items: center;
}
