@use '/src/styles/utils/mixins' as mix;

.card {
  cursor: pointer;
  user-select: none;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 200px;
  min-height: 320px;
  border-radius: var(--border-radius);

  font-size: 12px;
  text-align: center;
  text-transform: capitalize;

  background-color: var(--color-bg);

  @media (width<=500px) {
    width: 80%;
  }
}

.thumb {
  width: 100%;

  background: url('/logo.png');
  background-color: rgb(175 175 175);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
}

.image {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.desc {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;

  width: 100%;
  padding: 14px;

  p {
    overflow: hidden;
    padding: 0 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  li {
    display: flex;
    gap: 2px;
    align-items: center;
    justify-content: center;

    width: 95%;

    svg {
      flex-shrink: 0;
    }
  }
}

.name-item {
  font-size: 16px;
  font-weight: bolder;
}

.status-item {
  gap: 4px !important;

  > div {
    aspect-ratio: 1;
    height: 8px;
    border-radius: 50%;
  }
}

.checkbox {
  cursor: pointer;
  aspect-ratio: 1;
  width: 20px;
  accent-color: var(--color-violet-light);
}

.label {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 4px;
  border-radius: var(--border-radius);

  @include mix.focused {
    background-color: var(--color-violet-light-10);
  }
}
